/* Fonts */

@font-face {
  font-family: 'Halvar Engschrift CY';
  src: url("../fonts/halvar-extrathin.woff2") format("woff2"), url("../fonts/halvar-extrathin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Engschrift CY';
  src: url("../fonts/halvar-medium.woff2") format("woff2"), url("../fonts/halvar-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri-light.woff2") format("woff2"), url("../fonts/calibri-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri-regular.woff2") format("woff2"), url("../fonts/calibri-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Global */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: no-wrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Halvar Engschrift CY", sans-serif;
  font-weight: 500;
  min-width: 320px;
  color: #252628;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 75px;
}

/* Blocks */

.offer-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #252628;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  outline: none;
}

.offer-link:after {
  content: '';
  position: absolute;
  bottom: -31px;
  left: 105px;
  width: 174.24px;
  height: 27.24px;
  background: url(../img/main-arrow.svg) no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.offer-link:hover:after,
.offer-link:focus:after {
  left: 125px;
}

.offer-link:active {
  opacity: 0.8;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 85px;
  line-height: 112%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.detail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #252628;
  padding: 17px 46px;
  border: 4px solid #B0D6C1;
}

/* Header */

.header {
  background-color: #fff;
  position: fixed;
  padding: 7px 0;
  left: 0;
  z-index: 1000;
  right: 0;
}

.header__image {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}

.header__item {
  margin-right: 50px;
  font-size: 22px;
  line-height: 136%;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #252628;
  position: relative;
  padding-bottom: 8px;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:active {
  opacity: 0.8;
}

.header__link:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 5px;
  background-color: #F1B145;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover:after,
.header__link:focus:after {
  width: 100%;
}

.header__button {
  font-size: 18px;
  line-height: 133%;
  text-transform: uppercase;
  padding: 8px 32.5px;
  border: 3px solid #F2D74B;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__button:hover,
.header__button:focus {
  outline: none;
  background-color: #F2D74B;
}

.header__button:active {
  background-color: #F2D74B;
  opacity: 0.8;
}

/* Primary */

.primary {
  background: #F1B145;
  position: relative;
}

.primary:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: transparent url(../img/main-bg.jpg) no-repeat center;
  background-size: cover;
}

.primary__container {
  position: relative;
}

.primary__container:before {
  content: '';
  width: 135px;
  height: 135px;
  position: absolute;
  background: url(../img/main-circle.svg) no-repeat;
  top: 465px;
  right: 16.5%;
  z-index: 101;
}

.primary__container:after {
  content: '';
  width: 390px;
  height: 50px;
  position: absolute;
  background: url(../img/main-wave.svg) no-repeat;
  bottom: 35px;
  left: 27%;
  z-index: 101;
}

.primary__title {
  margin: 0 0 79px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.primary__inner {
  position: relative;
  z-index: 100;
  padding-top: 130px;
  padding-bottom: 174px;
}

.primary__inner:before {
  content: '';
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../img/main-plus.svg) no-repeat;
  margin: 70px auto 0;
  left: 0;
  top: 0;
  right: 0;
}

.primary__inner:after {
  content: '';
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../img/main-dot.svg) no-repeat;
  margin: 183px 30px 0 0;
  top: 0;
  right: 0;
}

.primary__span {
  display: inline-block;
  font-weight: 500;
  font-size: 100px;
  line-height: 95%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #F2F6F7;
  margin-bottom: -25px;
}

.primary__text {
  max-width: 510px;
  font-family: "Calibri";
  font-weight: 400;
  font-size: 23px;
  line-height: 122%;
  margin-bottom: 78px;
  padding-left: 15px;
}

.primary__link {
  margin-left: 15px;
}

/* About */

.about {
  padding: 120px 0;
  overflow: hidden;
}

.about__title {
  margin-bottom: 35px;
}

.about__description {
  max-width: 1050px;
  font-family: "Calibri";
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  margin: 0;
  margin-bottom: 29px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 93px;
}

.about__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 315px;
  width: 100%;
  margin-top: 25px;
  margin-right: 76px;
}

.about__tab {
  font-weight: 200;
  font-size: 40px;
  line-height: 112%;
  letter-spacing: 0.01em;
  color: #252628;
  margin-bottom: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  white-space: nowrap;
}

.about__tab:hover,
.about__tab:focus {
  padding-left: 40px;
  font-weight: 500;
}

.about__tab:before {
  content: '';
  opacity: 0;
  position: absolute;
  width: 95px;
  height: 95px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #B0D6C1;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about__tab:nth-child(2):before {
  background-color: #F2D74B;
}

.about__tab:nth-child(3):before {
  background-color: #CED853;
}

.about__tab:nth-child(4):before {
  background-color: #E1B7D0;
}

.about__tab.active {
  padding-left: 40px;
  font-weight: 500;
  margin-bottom: 75px;
}

.about__tab.active:before {
  opacity: 1;
}

.about__heading {
  font-weight: 500;
  font-size: 85px;
  line-height: 112%;
  width: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  max-width: 450px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.about__content {
  padding: 80px 0 85px 105px;
  position: relative;
  display: none;
  width: 100%;
}

.about__content:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5000px;
  z-index: -1;
  background-color: #EBF6F8;
}

.about__content:after {
  content: '';
  position: absolute;
  background: url(../img/about-line.svg) no-repeat;
  width: 56px;
  height: 285px;
  top: -83px;
  right: 26px;
  z-index: 2;
}

.about__content.active {
  display: block;
}

.about__content--tourism:before {
  background-color: #FEFBED;
}

.about__content--social:before {
  background: #FAFBEE;
}

.about__content--city:before {
  background: #FBF4F8;
}

.about__wrapping {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 45px;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about__item {
  max-width: 240px;
  width: 100%;
}

.about__paragraph {
  max-width: 420px;
  width: 100%;
  font-family: "Calibri";
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  margin-top: 0;
}

.about__post {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Calibri";
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
}

.about__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 117%;
  margin-top: 0;
  margin-bottom: 55px;
}

.about__link--tourism {
  border: 4px solid #F2D74B;
}

.about__link--social {
  border: 4px solid #CED853;
}

.about__link--city {
  border: 4px solid #E1B7D0;
}

/* Team */

.team {
  padding: 100px 0 82px;
  background-color: #F2F6F7;
  position: relative;
}

.team:before {
  content: '';
  position: absolute;
  background-color: #F1B145;
  left: -71.3%;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.team:after {
  content: '';
  position: absolute;
  width: 390px;
  height: 97px;
  background: url(../img/team-triangles.svg) no-repeat;
  top: -50px;
  z-index: 10;
  right: 23.2%;
}

.team__container {
  position: relative;
  z-index: 3;
}

.team__title {
  margin-bottom: 60px;
}

.team__item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.team__name {
  font-weight: 500;
  font-size: 40px;
  line-height: 112%;
  margin: 0 0 10px 0;
}

.team__wrapper {
  max-width: 840px;
}

.team__post {
  font-size: 20px;
  line-height: 150%;
  margin: 0 0 30px 0;
}

.team__description {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  max-width: 840px;
  margin-top: 0;
  margin-bottom: 29px;
}

.team__description.last {
  margin-bottom: 54px;
}

.team__photo {
  display: block;
  margin-right: 45px;
}

.team__link {
  margin-right: 41px;
  font-size: 22px;
  line-height: 118%;
  color: #252628;
  padding-left: 35px;
  position: relative;
}

.team__link:last-child {
  margin-right: 0;
}

.team__link--mail:before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/team-mail-icon.svg) no-repeat;
}

.team__link--phone:before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/team-phone-icon.svg) no-repeat;
}

.team .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Slick */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 55px;
}

.slick-dots li button {
  font-size: 0;
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  padding: 0;
  border: 3px solid #252628;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slick-dots li button + button {
  margin-left: 0;
}

.slick-dots .slick-active button {
  background-color: #252628;
}

/* Calendar */

.calendar {
  padding: 120px 0;
}

.calendar__title {
  margin-bottom: 60px;
}

.calendar__date {
  max-width: 270px;
  width: 100%;
}

.calendar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.calendar__month-title {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 18px;
  line-height: 122%;
  margin-bottom: 10px;
}

.calendar__month-fieldset {
  max-width: 235px;
  width: 100%;
  border: none;
  padding: 0;
  margin-bottom: 45px;
}

.calendar__select-wrap {
  margin-bottom: 30px;
  position: relative;
}

.calendar__select-wrap:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 12px;
  background: url(../img/calendar-arrow.svg) no-repeat;
  width: 16px;
  height: 10px;
}

.calendar__select {
  width: 100%;
  border: none;
  border-bottom: 3px solid #F1B145;
  padding: 0 30px 7px 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 117%;
  color: #252628;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.calendar__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calendar__day {
  width: 25px;
  height: 25px;
  background: #ECECEC;
  border-radius: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Calibri";
  font-weight: normal;
  font-size: 12px;
  line-height: 0;
  color: #252628;
  margin-right: 10px;
  margin-bottom: 10px;
}

.calendar__day:nth-child(7n) {
  margin-right: 0;
}

.calendar__day:last-child {
  margin-right: 0;
}

.calendar__day.disabled {
  opacity: 0;
}

.calendar__day.city {
  background: #CED853;
}

.calendar__day.pink {
  background: #E1B7D0;
}

.calendar__day.yellow {
  background: #F2D74B;
}

.calendar__day.blue {
  background: #B0D6C1;
}

.calendar__day.pink.blue {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #E1B7D0), color-stop(50%, #B0D6C1));
  background: -o-linear-gradient(left, #E1B7D0 50%, #B0D6C1 50%);
  background: linear-gradient(to right, #E1B7D0 50%, #B0D6C1 50%);
}

.calendar__type-title {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 18px;
  line-height: 122%;
  margin-bottom: 21px;
}

.calendar__type {
  padding: 0;
  border: none;
}

.calendar__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.calendar__view {
  margin-bottom: 5px;
  background: none;
  position: relative;
  font-weight: 200;
  font-size: 30px;
  line-height: 117%;
  -moz-text-align-last: left;
  text-align-last: left;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 0;
}

.calendar__view:hover {
  padding-left: 15px;
  font-weight: 500;
}

.calendar__view.active {
  padding-left: 15px;
  font-weight: 500;
  margin-bottom: 11px;
}

.calendar__view.active:before {
  opacity: 1;
}

.calendar__view:before {
  content: '';
  width: 25px;
  opacity: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
  background-color: #F1B145;
}

.calendar__view:last-child {
  margin-bottom: 0;
}

.calendar__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 945px;
}

.calendar__item {
  max-width: 285px;
  margin: 0 15px 35px;
}

.calendar__wrapper {
  position: relative;
  margin-bottom: 20px;
}

.calendar__theme {
  position: absolute;
  font-weight: 500;
  left: 0;
  bottom: 0;
  z-index: 5;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #fff;
  color: #252628;
}

.calendar__theme--blue {
  background-color: #B0D6C1;
}

.calendar__theme--pink {
  background-color: #E1B7D0;
}

.calendar__theme--green {
  background-color: #CED853;
}

.calendar__theme--yellow {
  background-color: #F2D74B;
}

.calendar__background {
  display: block;
}

.calendar__heading {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #252628;
  margin-top: 0;
  margin-bottom: 10px;
}

.calendar__description {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  color: #252628;
  margin: 0;
}

/* Concept */

.concept {
  background: -webkit-gradient(linear, left top, right top, color-stop(62%, #F2F6F7), color-stop(38%, #F1B145));
  background: -o-linear-gradient(left, #F2F6F7 62%, #F1B145 38%);
  background: linear-gradient(to right, #F2F6F7 62%, #F1B145 38%);
  padding: 47px 0 46px;
}

.concept__container {
  position: relative;
}

.concept__container:before {
  content: '';
  position: absolute;
  background: url(../../img/main-circle.svg) no-repeat;
  width: 100px;
  height: 100px;
  background-size: cover;
  right: 12.2%;
  top: -111px;
}

.concept__container:after {
  content: '';
  position: absolute;
  background: url(../../img/concept-triangles.svg) no-repeat;
  width: 210px;
  height: 85px;
  left: 36.2%;
  bottom: -83px;
}

.concept__inner {
  position: relative;
}

.concept__inner:before {
  content: '';
  position: absolute;
  background: url(../../img/main-plus.svg) no-repeat;
  width: 60px;
  height: 60px;
  background-size: cover;
  left: -6%;
  top: -23px;
}

.concept__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.concept__text {
  max-width: 599px;
}

.concept__title {
  margin-bottom: 35px;
}

.concept__description {
  font-family: Calibri;
  font-weight: normal;
  font-size: 22px;
  line-height: 136%;
  margin-top: 0;
  margin-bottom: 60px;
}

.concept__wrapper {
  margin-right: -175px;
  max-width: 700px;
}

/* Videos */

.videos {
  padding: 120px 0 70px;
}

.videos__title {
  margin-bottom: 40px;
  font-size: 65px;
  line-height: 115%;
}

.videos__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.videos__item {
  max-width: 285px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.videos__item:last-child {
  margin-right: 0;
}

.videos__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.videos__play-button {
  position: absolute;
  z-index: 10;
  background: none;
}

.videos__icon {
  display: block;
}

.videos__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
}