/* Fonts */

@font-face {
  font-family: 'Halvar Engschrift CY';
  src: url("../fonts/halvar-extrathin.woff2") format("woff2"), url("../fonts/halvar-extrathin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Engschrift CY';
  src: url("../fonts/halvar-medium.woff2") format("woff2"), url("../fonts/halvar-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri-light.woff2") format("woff2"), url("../fonts/calibri-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri-regular.woff2") format("woff2"), url("../fonts/calibri-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri-bold.woff2") format("woff2"), url("../fonts/calibri-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Global */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: no-wrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Halvar Engschrift CY", sans-serif;
  font-weight: 500;
  min-width: 320px;
  color: #252628;
  position: relative;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 75px;
}

/* Blocks */

.loader {
  position: fixed;
  z-index: 5000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #000 url(../img/loader-bg.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@supports (-webkit-appearance: none) {
  .loader {
    background-image: url(../img/loader-bg.webp);
  }
}

.loader__logo {
  max-height: 100%;
  -webkit-animation: loader-fade 1.5s ease infinite alternate;
  animation: loader-fade 1.5s ease infinite alternate;
}

@-webkit-keyframes loader-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.offer-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #252628;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  outline: none;
}

.offer-link:after {
  content: '';
  position: absolute;
  bottom: -31px;
  left: 105px;
  width: 174.24px;
  height: 27.24px;
  background: url(../img/main-arrow.svg) no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.offer-link:hover:after,
.offer-link:focus:after {
  left: 125px;
}

.offer-link:active {
  opacity: 0.8;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 85px;
  line-height: 112%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.detail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #252628;
  padding: 17px 46px;
  border: 4px solid #B0D6C1;
}

.modal {
  position: fixed;
  z-index: 5000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
}

.modal::-webkit-scrollbar {
  width: 0;
}

.modal-login {
  display: none;
}

.modal-login.active {
  display: block;
}

.modal__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(37, 38, 40, 0.8);
  padding: 16px 15px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: auto;
}

.modal__background::-webkit-scrollbar {
  width: 0;
}

.modal__window {
  margin: 100px 0 100px;
  max-width: 660px;
  width: 100%;
  padding: 60px 30px;
  background-color: #fff;
  position: relative;
  text-align: center;
}

.modal__window:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 90px;
  background: #F1B145;
  z-index: 0;
}

.modal__close {
  position: absolute;
  right: 29px;
  top: 28px;
  padding: 0;
  background: none;
}

.modal__block {
  text-align: center;
}

.modal__title {
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
  position: relative;
  z-index: 2;
}

.modal__form {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
}

.modal__label {
  position: relative;
}

.modal__wrap {
  margin-bottom: 43px;
}

.modal__sup {
  position: absolute;
  top: -36px;
  left: 8px;
  font-family: "Calibri";
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: #252628;
  padding: 0 13px;
  background-color: #fff;
}

.modal__area {
  width: 100%;
  padding: 16px 21px 10px;
  font-family: "Calibri";
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #252628;
  border: 2px solid #B5BAC2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal__area:hover,
.modal__area:focus {
  border: 2px solid #92969E;
  outline: none;
}

.modal__button {
  font-weight: 500;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  background-color: transparent;
  padding: 13px 84px;
  border: 4px solid #F1B145;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal__button:hover,
.modal__button:focus {
  background-color: #F1B145;
  outline: none;
}

.modal__register {
  display: inline-block;
  margin-top: 50px;
  font-weight: 500;
  font-size: 30px;
  line-height: 133%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #252628;
  border-bottom: 5px solid #F1B145;
}

.modal__wrap--last {
  margin-bottom: 0;
}

.modal__wrapping {
  margin: 25px 0 35px;
  -moz-text-align-last: left;
  text-align-last: left;
}

.modal__check-label {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 16px;
  line-height: 156%;
  color: #252628;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.modal__check-label:hover:before,
.modal__check-label:focus:before {
  border: 2px solid #92969E;
}

.modal__check-label:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  border: 2px solid #B5BAC2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal__checkbox:checked + .modal__check-label:after {
  content: '';
  width: 16px;
  height: 12px;
  background: url(../img/modal-correct-icon.svg) no-repeat;
  position: absolute;
  left: 4px;
  top: 5px;
  z-index: 3;
}

.modal__checkbox:focus + .modal__check-label:before {
  border: 2px solid #92969E;
}

.modal__personal {
  text-decoration: underline;
}

.modal-register {
  display: none;
}

.modal-register.active {
  display: block;
}

.modal-register__button {
  padding: 13px 38px;
}

.modal-register__register {
  display: none;
}

/* Header */

.header {
  background-color: #fff;
  position: fixed;
  padding: 7px 0;
  left: 0;
  z-index: 1000;
  right: 0;
  min-width: 320px;
}

.header__image {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  max-width: 637px;
  width: 100%;
}

.header__mobile {
  overflow: hidden;
  height: 0;
  margin: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: height 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, -webkit-transform 0.3s;
  -o-transition: height 0.3s, transform 0.3s;
  transition: height 0.3s, transform 0.3s;
  transition: height 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.header__item {
  margin-right: 50px;
  font-size: 22px;
  line-height: 136%;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item:hover .header__sublist {
  display: block;
}

.header__item:focus {
  outline: none;
}

.header__sublist {
  position: absolute;
  top: 58px;
  padding: 20px 30px 15px;
  margin-left: -30px;
  background-color: #fff;
  display: none;
}

.header__subitem {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #252628;
  margin-bottom: 20px;
}

.header__subitem:last-child {
  margin-right: 0;
}

.header__sublink {
  color: inherit;
  position: relative;
  outline: none;
}

.header__sublink--blue:after {
  background-color: #B0D6C1;
}

.header__sublink--yellow:after {
  background-color: #F2D74B;
}

.header__sublink--green:after {
  background-color: #CED853;
}

.header__sublink--pink:after {
  background-color: #E1B7D0;
}

.header__sublink:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 19px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  bottom: -8px;
  left: 0;
}

.header__sublink:hover:after {
  width: 100%;
}

.header__sublink:focus:after {
  width: 100%;
}

.header__link {
  color: #252628;
  position: relative;
  padding-bottom: 8px;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:active {
  opacity: 0.8;
}

.header__link:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 5px;
  background-color: #F1B145;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover:after,
.header__link:focus:after {
  width: 100%;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__button {
  font-size: 18px;
  line-height: 133%;
  text-transform: uppercase;
  padding: 8px 32.5px;
  border: 3px solid #F2D74B;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  min-width: 192px;
  white-space: nowrap;
}

.header__button:hover,
.header__button:focus {
  outline: none;
  background-color: #F2D74B;
}

.header__button:active {
  background-color: #F2D74B;
  opacity: 0.8;
}

.header__button--mobile {
  display: none;
}

.header__burger {
  display: none;
  max-width: 40px;
  min-width: 40px;
  width: 100%;
  background: none;
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger.active .header__line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5.5px, -13.5px);
  -ms-transform: rotate(45deg) translate(5.5px, -13.5px);
  transform: rotate(45deg) translate(5.5px, -13.5px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 28px;
  margin: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger.active .header__line:nth-child(2) {
  display: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger.active .header__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(3.5px, 16.5px);
  -ms-transform: rotate(-45deg) translate(3.5px, 16.5px);
  transform: rotate(-45deg) translate(3.5px, 16.5px);
  width: 28px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.header__line {
  display: block;
  width: 40px;
  max-width: 100%;
  height: 4px;
  background-color: #F1B145;
  margin-bottom: 4px;
}

.header__line:last-child {
  margin-bottom: 0;
}

/* Primary */

.primary {
  background: #F1B145;
  position: relative;
}

.primary:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: transparent url(../img/main-bg.jpg) no-repeat center;
  background-size: cover;
}

@supports (-webkit-appearance: none) {
  .primary:after {
    background-image: url(../img/main-bg.webp);
  }
}

.primary__container {
  position: relative;
}

.primary__container:before {
  content: '';
  width: 135px;
  height: 135px;
  position: absolute;
  background: url(../img/main-circle.svg) no-repeat;
  top: 465px;
  right: 16.5%;
  z-index: 101;
}

.primary__container:after {
  content: '';
  width: 390px;
  height: 50px;
  position: absolute;
  background: url(../img/main-wave.svg) no-repeat;
  bottom: 35px;
  left: 27%;
  z-index: 101;
}

.primary__title {
  margin: 0 0 79px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.primary__inner {
  position: relative;
  z-index: 100;
  padding-top: 130px;
  padding-bottom: 174px;
}

.primary__inner:before {
  content: '';
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../img/main-plus.svg) no-repeat;
  margin: 70px auto 0;
  left: 0;
  top: 0;
  right: 0;
}

.primary__inner:after {
  content: '';
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../img/main-dot.svg) no-repeat;
  margin: 183px 30px 0 0;
  top: 0;
  right: 0;
}

.primary__span {
  display: inline-block;
  font-weight: 500;
  font-size: 100px;
  line-height: 95%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #F2F6F7;
  margin-bottom: -25px;
}

.primary__text {
  max-width: 510px;
  font-family: "Calibri";
  font-weight: 400;
  font-size: 23px;
  line-height: 122%;
  margin-bottom: 78px;
  padding-left: 15px;
}

.primary__link {
  margin-left: 15px;
}

/* About */

.about {
  padding: 120px 0;
  overflow: hidden;
}

.about__title {
  margin-bottom: 35px;
}

.about__controls {
  display: none;
}

.about__description {
  max-width: 1050px;
  font-family: "Calibri";
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  margin: 0;
  margin-bottom: 29px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 67px;
}

.about__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 315px;
  width: 100%;
  margin-top: 25px;
  margin-right: 76px;
}

.about__tab {
  font-weight: 200;
  font-size: 40px;
  line-height: 112%;
  letter-spacing: 0.01em;
  color: #252628;
  margin-bottom: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  white-space: nowrap;
}

.about__tab:hover,
.about__tab:focus {
  padding-left: 40px;
  font-weight: 500;
  outline: none;
}

.about__tab:before {
  content: '';
  opacity: 0;
  position: absolute;
  width: 95px;
  height: 95px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #B0D6C1;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about__tab:nth-child(2):before {
  background-color: #F2D74B;
}

.about__tab:nth-child(3):before {
  background-color: #CED853;
}

.about__tab:nth-child(4):before {
  background-color: #E1B7D0;
}

.about__tab.active {
  padding-left: 40px;
  font-weight: 500;
  margin-bottom: 75px;
}

.about__tab.active:before {
  opacity: 1;
}

.about__heading {
  font-weight: 500;
  font-size: 85px;
  line-height: 112%;
  width: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  max-width: 450px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.about__content {
  padding: 80px 0 85px 105px;
  position: relative;
  display: none;
  width: 100%;
}

.about__content:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5000px;
  z-index: -1;
  background-color: #EBF6F8;
}

.about__content:after {
  content: '';
  position: absolute;
  background: url(../img/about-line.svg) no-repeat;
  width: 56px;
  height: 285px;
  top: -83px;
  right: 26px;
  z-index: 2;
}

.about__content:nth-child(2n):after {
  display: none;
}

.about__content.active {
  display: block;
}

.about__content--tourism:before {
  background-color: #FEFBED;
}

.about__content--social:before {
  background: #FAFBEE;
}

.about__content--city:before {
  background: #FBF4F8;
}

.about__wrapping {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 45px;
  overflow: hidden;
}

.about__image {
  max-width: 550px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about__item {
  max-width: 240px;
  width: 100%;
}

.about__paragraph {
  max-width: 420px;
  width: 100%;
  font-family: "Calibri";
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  margin-top: 0;
}

.about__post {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Calibri";
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
}

.about__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 117%;
  margin-top: 0;
  margin-bottom: 55px;
}

.about__link {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about__link--business {
  border: 4px solid #B0D6C1;
}

.about__link--business:hover {
  background-color: #B0D6C1;
}

.about__link--business:focus {
  background-color: #B0D6C1;
  outline: none;
}

.about__link--business:active {
  opacity: 0.8;
}

.about__link--tourism {
  border: 4px solid #F2D74B;
}

.about__link--tourism:hover {
  background-color: #F2D74B;
}

.about__link--tourism:focus {
  background-color: #F2D74B;
  outline: none;
}

.about__link--tourism:active {
  opacity: 0.8;
}

.about__link--social {
  border: 4px solid #CED853;
}

.about__link--social:hover {
  background-color: #CED853;
}

.about__link--social:focus {
  background-color: #CED853;
  outline: none;
}

.about__link--social:active {
  opacity: 0.8;
}

.about__link--city {
  border: 4px solid #E1B7D0;
}

.about__link--city:hover {
  background-color: #E1B7D0;
}

.about__link--city:focus {
  background-color: #E1B7D0;
  outline: none;
}

.about__link--city:active {
  opacity: 0.8;
}

/* Team */

.team {
  padding: 100px 0 82px;
  background-color: #F2F6F7;
  position: relative;
}

.team:before {
  content: '';
  position: absolute;
  background-color: #F1B145;
  left: -71.3%;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.team:after {
  content: '';
  position: absolute;
  width: 390px;
  height: 97px;
  background: url(../img/team-triangles.svg) no-repeat;
  top: -50px;
  z-index: 10;
  right: 23.2%;
}

.team__container {
  position: relative;
  z-index: 3;
}

.team__title {
  margin-bottom: 60px;
}

.team__item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.team__name {
  font-weight: 500;
  font-size: 40px;
  line-height: 112%;
  margin: 0 0 10px 0;
}

.team__wrapper {
  max-width: 840px;
}

.team__post {
  font-size: 20px;
  line-height: 150%;
  margin: 0 0 30px 0;
}

.team__description {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  max-width: 840px;
  margin-top: 0;
  margin-bottom: 29px;
}

.team__description.last {
  margin-bottom: 54px;
}

.team__photo {
  display: block;
  max-width: 345px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 45px;
}

.team__link {
  margin-right: 41px;
  font-size: 22px;
  line-height: 118%;
  color: #252628;
  padding-left: 35px;
  position: relative;
}

.team__link:last-child {
  margin-right: 0;
}

.team__link--mail:before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/team-mail-icon.svg) no-repeat;
}

.team__link--phone:before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/team-phone-icon.svg) no-repeat;
}

.team .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Slick */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 55px;
  margin-left: -20px;
  padding-left: 0;
}

.slick-dots li button {
  font-size: 0;
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  padding: 0;
  border: 3px solid #252628;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slick-dots .slick-active button {
  background-color: #252628;
}

/* Calendar */

.calendar {
  padding: 120px 0;
}

.calendar__title {
  margin-bottom: 60px;
}

.calendar__date {
  max-width: 270px;
  width: 100%;
  margin-right: 45px;
}

.calendar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.calendar__month-title {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 18px;
  line-height: 122%;
  margin-bottom: 10px;
}

.calendar__month-fieldset {
  max-width: 235px;
  width: 100%;
  border: none;
  padding: 0;
  margin-bottom: 45px;
}

.calendar__select-wrap {
  margin-bottom: 30px;
  position: relative;
}

.calendar__select-wrap:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 12px;
  background: url(../img/calendar-arrow.svg) no-repeat;
  width: 16px;
  height: 10px;
}

.calendar__select {
  width: 100%;
  border: none;
  border-bottom: 3px solid #F1B145;
  padding: 0 30px 7px 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 117%;
  color: #252628;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.calendar__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calendar__day {
  width: 25px;
  height: 25px;
  background: #ECECEC;
  border-radius: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Calibri";
  font-weight: normal;
  font-size: 12px;
  line-height: 0;
  color: #252628;
  margin-right: 10px;
  margin-bottom: 10px;
}

.calendar__day:nth-child(7n) {
  margin-right: 0;
}

.calendar__day:last-child {
  margin-right: 0;
}

.calendar__day.disabled {
  opacity: 0;
}

.calendar__day.city {
  background: #CED853;
}

.calendar__day.pink {
  background: #E1B7D0;
}

.calendar__day.yellow {
  background: #F2D74B;
}

.calendar__day.blue {
  background: #B0D6C1;
}

.calendar__day.pink.blue {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #E1B7D0), color-stop(50%, #B0D6C1));
  background: -o-linear-gradient(left, #E1B7D0 50%, #B0D6C1 50%);
  background: linear-gradient(to right, #E1B7D0 50%, #B0D6C1 50%);
}

.calendar__type-title {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 18px;
  line-height: 122%;
  margin-bottom: 21px;
}

.calendar__type {
  padding: 0;
  border: none;
}

.calendar__type--mobile {
  display: none;
}

.calendar__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.calendar__view {
  margin-bottom: 5px;
  background: none;
  position: relative;
  font-weight: 200;
  font-size: 30px;
  line-height: 117%;
  -moz-text-align-last: left;
  text-align-last: left;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 0;
}

.calendar__view:hover {
  padding-left: 15px;
  font-weight: 500;
}

.calendar__view:focus {
  outline: none;
  padding-left: 15px;
  font-weight: 500;
}

.calendar__view.active {
  padding-left: 15px;
  font-weight: 500;
  margin-bottom: 11px;
}

.calendar__view.active:before {
  opacity: 1;
}

.calendar__view:before {
  content: '';
  width: 25px;
  opacity: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
  background-color: #F1B145;
}

.calendar__view:last-child {
  margin-bottom: 0;
}

.calendar__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 945px;
}

.calendar__item {
  max-width: 285px;
  margin: 0 15px 35px;
}

.calendar__wrapper {
  position: relative;
  margin-bottom: 20px;
  height: 190px;
}

.calendar__theme {
  position: absolute;
  font-weight: 500;
  left: 0;
  bottom: 0;
  z-index: 5;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #fff;
  color: #252628;
}

.calendar__theme--blue {
  background-color: #B0D6C1;
}

.calendar__theme--pink {
  background-color: #E1B7D0;
}

.calendar__theme--green {
  background-color: #CED853;
}

.calendar__theme--yellow {
  background-color: #F2D74B;
}

.calendar__background {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.calendar__heading {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #252628;
  margin-top: 0;
  margin-bottom: 10px;
}

.calendar__description {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  color: #252628;
  margin: 0;
}

/* Concept */

.concept {
  background: -webkit-gradient(linear, left top, right top, color-stop(62%, #F2F6F7), color-stop(38%, #F1B145));
  background: -o-linear-gradient(left, #F2F6F7 62%, #F1B145 38%);
  background: linear-gradient(to right, #F2F6F7 62%, #F1B145 38%);
  padding: 47px 0 46px;
}

.concept__container {
  position: relative;
}

.concept__container:before {
  content: '';
  position: absolute;
  background: url(../../img/main-circle.svg) no-repeat;
  width: 100px;
  height: 100px;
  background-size: cover;
  right: 12.2%;
  top: -111px;
}

.concept__container:after {
  content: '';
  position: absolute;
  background: url(../../img/concept-triangles.svg) no-repeat;
  width: 210px;
  height: 85px;
  left: 36.2%;
  bottom: -83px;
}

.concept__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.concept__inner:before {
  content: '';
  position: absolute;
  background: url(../../img/main-plus.svg) no-repeat;
  width: 60px;
  height: 60px;
  background-size: cover;
  left: -6%;
  top: -23px;
}

.concept__text {
  max-width: 599px;
}

.concept__title {
  margin-bottom: 35px;
}

.concept__description {
  font-family: Calibri;
  font-weight: normal;
  font-size: 22px;
  line-height: 136%;
  margin-top: 0;
  margin-bottom: 60px;
}

.concept__wrapper {
  margin-right: -14.4%;
  max-width: 700px;
}

/* Videos */

.videos {
  padding: 120px 0 70px;
}

.videos__title {
  margin-bottom: 40px;
  font-size: 65px;
  line-height: 115%;
}

.videos__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.videos__item {
  max-width: 285px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.videos__item:last-child {
  margin-right: 0;
}

.videos__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.videos__link:hover .videos__play-button {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.videos__play-button {
  position: absolute;
  z-index: 10;
  background: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.videos__icon {
  display: block;
}

.videos__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
}

/* Press */

.news-press-wrapper {
  padding-bottom: 120px;
}

.news-press-wrapper__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.press {
  max-width: 497px;
}

.press__title {
  margin-bottom: 40px;
  font-size: 65px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.press__title:after {
  content: '';
  background: url(../img/small-arrow.svg) no-repeat;
  display: inline-block;
  width: 79.24px;
  height: 27.24px;
  margin-left: 30px;
}

.press__image {
  display: block;
}

.press__wrapping {
  margin-top: -52px;
}

.press__date {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  padding: 11.5px 20px;
  background: #F1B145;
}

.press__caption {
  font-weight: 500;
  display: block;
  color: #252628;
  font-size: 25px;
  line-height: 120%;
  max-width: 449px;
  padding: 15px 4px 15px 20px;
  background: #F2F6F7;
  margin: 0;
  position: relative;
  z-index: 10;
  margin-top: 9px;
}

.press__item {
  margin-bottom: 35px;
}

.press__item:last-child {
  margin-bottom: 0;
}

/* News */

.news {
  max-width: 565px;
  width: 100%;
}

.news__title {
  margin-bottom: 40px;
  font-size: 65px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news__title:after {
  content: '';
  background: url(../img/small-arrow.svg) no-repeat;
  display: inline-block;
  width: 79.24px;
  height: 27.24px;
  margin-left: 30px;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 42px;
}

.news__item:last-child {
  margin-bottom: 0;
}

.news__wrap {
  margin-right: 30px;
}

.news__info {
  color: #252628;
}

.news__date {
  font-family: "Calibri";
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.news__caption {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  margin: 0 0 8px;
}

.news__text {
  font-family: "Calibri";
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  max-width: 430px;
  margin: 0 0 21px;
}

.news__theme {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  background-color: #B0D6C1;
  padding: 8.5px 13px 8.5px 11px;
}

.news__theme--yellow {
  background-color: #F2D74B;
}

.news__theme--green {
  background-color: #CED853;
}

/* Contacts */

.contacts {
  position: relative;
  background-color: #F2F6F7;
}

.contacts:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 4;
  background: url(../img/contacts-map.png) no-repeat;
  background-size: cover;
}

@supports (-webkit-appearance: none) {
  .contacts:after {
    background-image: url(../img/contacts-map.webp);
  }
}

.contacts__container {
  position: relative;
}

.contacts__container:before {
  content: '';
  position: absolute;
  width: 285px;
  height: 34px;
  background: url(../img/contacts-wave.svg) no-repeat;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -15px;
  z-index: 10;
}

.contacts__inner {
  padding: 120px 0;
  width: 100%;
  max-width: 600px;
  background-color: #F2F6F7;
  position: relative;
  z-index: 6;
}

.contacts__title {
  margin-bottom: 45px;
}

.contacts__data {
  padding-left: 0;
  margin-bottom: 60px;
}

.contacts__item {
  padding-left: 40px;
  max-width: 395px;
  position: relative;
  margin-bottom: 35px;
  font-family: "Calibri";
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item--flag:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 25px;
  background: url(../img/contacts-flag-icon.svg);
  left: 0;
  top: 5px;
}

.contacts__item--clock:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: url(../img/contacts-clock-icon.svg);
  left: 0;
  top: 5px;
}

.contacts__item--phone:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: url(../img/contacts-phone-icon.svg);
  left: 0;
  top: 5px;
}

.contacts__item--mail:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: url(../../img/contacts-mail-icon.svg);
  left: 0;
  top: 5px;
}

.contacts__phone {
  color: inherit;
}

.contacts__mail {
  color: inherit;
}

.contacts__caption {
  font-weight: 500;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.contacts__list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__point {
  margin-right: 30px;
}

.contacts__point:last-child {
  margin-right: 0;
}

.contacts__icon {
  display: block;
}

/* Footer */

.footer {
  background-color: #252628;
  padding: 70px 0 20px;
  color: #F2F6F7;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer__list {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 297px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__item {
  font-weight: 500;
  font-size: 21px;
  line-height: 138%;
  width: calc(50% - 15px);
  margin-bottom: 15px;
  margin-right: 15px;
}

.footer__item:nth-child(2n) {
  margin-right: 0;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  color: #F2F6F7;
}

.footer__copyright {
  font-family: "Calibri";
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: #7C7C7C;
  margin: 0;
}

.footer__block {
  max-width: 310px;
  width: 100%;
}

.footer__point {
  padding-left: 35px;
  font-family: "Calibri";
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  margin-top: 0;
  margin-bottom: 25px;
  position: relative;
}

.footer__point:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 7px;
}

.footer__point:nth-child(1):before {
  background: url(../img/footer-flag-icon.svg) no-repeat;
}

.footer__point:nth-child(2):before {
  background: url(../img/footer-mail-icon.svg) no-repeat;
  top: 5px;
}

.footer__point:last-child {
  margin-bottom: 0;
}

.footer__mail {
  color: inherit;
}

/* Media */

@media (max-width: 1100px) {
  .header {
    padding: 15px 0;
  }

  .header__list {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__button {
    margin-right: 10px;
  }

  .header__mobile {
    margin: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 60px 15px 30px;
    z-index: 1000;
    background-color: #F2F6F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .header__mobile.active {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    height: calc(100vh - 75px);
  }

  .header__mobile::-webkit-scrollbar {
    width: 0;
  }

  .header__item:hover .header__sublist {
    display: block;
  }

  .header__item {
    margin-right: 0;
    margin-bottom: 35px;
    text-align: right;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__sublist {
    display: none;
    position: relative;
    top: 0;
    margin-left: 0;
    background: none;
    text-align: right;
    padding: 0;
    margin-top: 15px;
  }

  .primary:after {
    position: relative;
    z-index: 10;
    display: block;
    height: 500px;
    width: 100%;
  }

  .primary__inner {
    padding-bottom: 21px;
  }

  .primary__container:after {
    left: 0;
    top: 153%;
  }

  .primary__container:before {
    top: 116%;
  }
}

@media (max-width: 1000px) {
  .about__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 940px) {
  .team:before {
    left: 0;
    right: 0;
    top: 0;
    height: 320px;
  }

  .team:after {
    right: 15px;
  }

  .team__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .team__photo {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .primary:after {
    height: 400px;
  }

  .primary__inner:before {
    margin: 0;
    left: 60%;
    top: 30px;
  }

  .primary__span {
    font-size: 75px;
    padding: 14px 15px;
  }

  .primary__text {
    max-width: 448px;
  }

  .primary__container:after {
    width: 200px;
    height: 26px;
    background-size: cover;
    top: 142%;
  }

  .primary__container:before {
    width: 80px;
    height: 80px;
    background-size: cover;
  }

  .team__title {
    font-size: 65px;
  }

  .calendar__title {
    font-size: 65px;
  }
}

@media (max-width: 639px) {
  .about {
    padding: 80px 0;
  }

  .about__title {
    font-size: 70px;
  }

  .about__wrapper {
    margin-top: 30px;
  }

  .about__heading {
    font-size: 60px;
  }

  .about__content {
    padding-left: 0;
    padding-right: 0;
  }

  .about__content:before {
    left: -15px;
  }

  .calendar__block {
    margin: 0;
  }

  .calendar__date {
    margin-right: 20px;
  }

  .calendar__item {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 560px) {
  .primary__inner:after {
    display: none;
  }

  .primary__inner:before {
    left: auto;
  }

  .primary__text {
    margin-bottom: 65px;
  }

  .primary__span {
    font-size: 67px;
    padding: 16px 15px;
  }

  .team {
    padding-top: 65px;
    padding-bottom: 30px;
  }

  .team:before {
    height: 300px;
  }

  .team:after {
    width: 135px;
    height: 33.75px;
    background-size: cover;
    top: -8px;
  }

  .team__title {
    font-size: 55px;
    margin-bottom: 45px;
    text-align: center;
  }

  .team__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .team__name {
    text-align: center;
  }

  .team__post {
    text-align: center;
    margin-bottom: 20px;
  }

  .team__description {
    margin-bottom: 20px;
  }

  .calendar {
    padding: 90px 0;
  }

  .calendar__title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 45px;
  }

  .calendar__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .calendar__date {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .calendar__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .calendar__month-title {
    text-align: center;
  }

  .calendar__type-title {
    text-align: center;
  }

  .calendar__type--mobile {
    display: block;
    margin-bottom: 25px;
  }

  .calendar__type--desktop {
    display: none;
  }

  .calendar__form {
    max-width: 228px;
    margin: 0 auto;
  }

  .calendar__months {
    display: none;
  }

  .calendar__month-fieldset {
    margin-bottom: 25px;
  }

  .calendar__select-wrap {
    margin-bottom: 0;
  }

  .calendar__block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .header__list {
    margin: 0 auto;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: left;
  }

  .header__mobile {
    padding: 60px 45px 30px 66px;
  }

  .header__item {
    text-align: left;
  }

  .header__button {
    display: none;
  }

  .header__button--mobile {
    display: block;
    margin-right: 0;
  }

  .header__sublist {
    text-align: left;
  }

  .header__subitem {
    font-size: 18px;
    line-height: 167%;
  }

  .header__subitem:last-child {
    margin-bottom: 0;
  }

  .header__button {
    margin: 0 auto;
  }

  .modal-register__button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .primary__span {
    font-size: 55px;
    padding: 18px 15px;
  }

  .primary__text {
    max-width: 387px;
  }

  .primary__inner {
    padding-top: 88px;
  }

  .about {
    padding-bottom: 50px;
  }

  .about__tabs {
    display: none;
  }

  .about__content:after {
    top: -22px;
    background-size: cover;
    height: 135px;
    width: 27px;
  }

  .about__controls {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about__prev,
  .about__next {
    padding: 0;
    background: none;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .about__prev:hover {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  .about__prev:focus {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  .about__prev:active {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  .about__next:hover {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  .about__next:focus {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  .about__next:active {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  .team__title {
    font-size: 45px;
  }

  .team__link--mail {
    margin-right: 0;
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
}

@media (max-width: 410px) {
  .primary:after {
    height: 210px;
  }

  .primary__container:before {
    width: 60px;
    height: 60px;
    right: 68px;
    top: 118%;
  }

  .primary__container:after {
    top: 136%;
    left: -82px;
  }

  .primary__inner {
    padding-top: 25px;
    padding-bottom: 14px;
  }

  .primary__inner:before {
    width: 50px;
    height: 50px;
    background-size: cover;
    top: 15px;
  }

  .primary__title {
    margin-bottom: 28px;
  }

  .primary__span {
    font-size: 40px;
    line-height: 112%;
    padding: 5px 10px;
    margin-bottom: -12px;
  }

  .primary__text {
    padding-left: 0;
    font-size: 18px;
    line-height: 133%;
    max-width: 290px;
    margin-bottom: 30px;
  }

  .primary__link {
    margin-left: 0;
  }

  .offer-link {
    font-size: 20px;
    line-height: 110%;
  }

  .offer-link:hover:after {
    left: 52px;
  }

  .offer-link:after {
    background-size: cover;
    width: 135px;
    height: 21px;
    bottom: -24px;
    left: 27px;
  }
}

@media (max-width: 360px) {
  .modal__title {
    font-size: 25px;
    line-height: 120%;
    margin-bottom: 38px;
  }

  .modal__window {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .modal__window:before {
    height: 60px;
    background: #F1B145;
  }

  .modal__wrap {
    margin-bottom: 38px;
  }

  .modal__close {
    right: 15px;
    top: 15px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 15px;
    height: 15px;
  }

  .modal__close-icon {
    max-width: 15px;
    height: 15px;
  }

  .modal__register {
    margin-top: 40px;
    font-size: 20px;
    line-height: 150%;
  }

  .modal-register__button {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about {
    padding-top: 45px;
  }

  .about__title {
    text-align: center;
    font-size: 35px;
    line-height: 114%;
    margin-bottom: 20px;
  }

  .about__description {
    font-size: 16px;
    line-height: 144%;
    margin-bottom: 22px;
  }

  .about__item {
    max-width: 100%;
  }

  .about__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .about__heading {
    font-size: 30px;
    line-height: 117%;
    bottom: -11px;
  }

  .about__image {
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .about__content:after {
    opacity: 0.1;
    top: -15px;
  }

  .about__wrapping {
    overflow: visible;
    margin-bottom: 20px;
  }

  .about__paragraph {
    font-size: 16px;
    line-height: 144%;
    margin-bottom: 15px;
  }

  .about__post {
    font-size: 17px;
    line-height: 135%;
    margin-bottom: 5px;
  }

  .about__name {
    font-size: 25px;
    line-height: 100%;
    margin-bottom: 15px;
  }

  .about__link {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .team {
    padding: 54px 0 35px;
  }

  .team:before {
    height: 180px;
  }

  .team__title {
    margin-bottom: 20px;
  }

  .team__title {
    font-size: 35px;
    line-height: 114%;
  }

  .team__photo {
    max-width: 156px;
    margin-bottom: 10px;
  }

  .team__name {
    font-size: 22px;
    line-height: 136%;
    margin-bottom: 5px;
  }

  .team__post {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
  }

  .team__description {
    font-size: 16px;
    line-height: 144%;
    margin-bottom: 10px;
  }

  .team__description.last {
    margin-bottom: 10px;
  }

  .team__description.hide-small {
    display: none;
  }

  .team__link {
    font-size: 18px;
    line-height: 144%;
    padding-left: 30px;
  }

  .team .slick-dots {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .calendar {
    padding: 50px 0 65px;
  }

  .calendar__title {
    font-size: 35px;
    line-height: 114%;
    margin-bottom: 15px;
  }

  .calendar__month-title {
    font-size: 17px;
    line-height: 118%;
  }

  .calendar__type-title {
    font-size: 17px;
    line-height: 118%;
    margin-bottom: 10px;
  }

  .calendar__select {
    font-size: 22px;
    line-height: 109%;
    padding-bottom: 5px;
    padding-right: 28px;
  }

  .calendar__select-wrap:after {
    top: 9px;
  }

  .calendar__wrapper {
    height: 130px;
    margin-bottom: 15px;
  }

  .calendar__background {
    width: 100%;
  }

  .calendar__heading {
    font-size: 22px;
    line-height: 109%;
    margin-bottom: 5px;
  }

  .calendar__description {
    font-size: 16px;
    line-height: 144%;
  }

  .calendar__item {
    margin-bottom: 25px;
  }

  .calendar__item:last-child {
    margin-bottom: 0;
  }
}